<script class="tpl-script" id="quizz-tpl" type="text/x-handlebars-template">
	<form id="quizz">
		<div id="quizz-timer">Loading...</div>
		<h1>{{title}}</h1>
		<h3>Étudiant: {{student}}</h3>
		<h4>Questions :</h4>
		<ul>
		{{#questions}}
			<li>
				{{#if raw}}
					{{{title}}}
				{{else}}
					{{title}}
				{{/if}}
				<br>
				{{#choices}}
					<label>
						<input type="checkbox" name="q{{qid}}" value="q{{qid}}c{{cid}}" {{#isChecked qid cid}}checked{{/isChecked}} />
						{{#if raw}}
							{{{text}}}
						{{else}}
							{{text}}
						{{/if}}
						<br>
					</label>
				{{/choices}}
			</li>
		{{/questions}}
		</ul>
		<button type="submit">Terminer</button>
	</form>
	<div id="quizz-confirm-modal-container"></div>
</script>

<script class="tpl-script" data-target="#quizz-confirm-modal-container" id="quizz-confirm-modal-tpl" type="text/x-handlebars-template">
	<form id="quizz-confirm-modal">
		&nbsp;
		<div class="modal-inner">
			<h3>Envoyer le questionnaire?<br>Aucun retour en arrière ne sera possible!</h3>
			<div class="buttons">
				<span><button class="send">Envoyer</button></span>
				<span><button class="cancel">Annuler</button></span>
			</div>
		</div>
		&nbsp;
	</form>
</script>
