<script class="tpl-script" id="solution-tpl" type="text/x-handlebars-template">
	<div id="solution">
		<h1>{{fmt title}}</h1>
		<h3>Étudiant: {{student}}</h3>
		<h4>Votre note : {{mark}}/{{markBase}}</h4>
		<h4>Correction :</h4>
		<ul>
		{{#questions}}
			<li>
				{{{fmt title}}}
				<br>
				{{#choices}}
					<label>
						<span class="goodbad {{isGood qid cid ok}}">&nbsp;</span>
						<input type="{{getType @../index}}" name="q{{qid}}" value="q{{qid}}c{{cid}}" disabled {{isChecked qid cid}} />
						{{{fmt text}}}
						<br>
					</label>
				{{/choices}}
			</li>
		{{/questions}}
		</ul>
	</div>
</script>
