#notifs-root {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 0px;
	z-index: 100;
	overflow: visible;
	text-align: center;
	
	.notif {
		display: inline-block;
		background-color: white;
		border: 1px solid black;
		border-radius: 2vh;
		height: auto;
		margin-top: 2vh;
		width: 40vw;
		visibility: hidden;
		
		p {
			margin: 0px;
			padding: 3vh 2vw;
		}
		
		&.notif-visible {
			visibility: visible;
		}
		
		&.notif-style-warn {
			background-color: yellow;
		}
		
		&.notif-style-error {
			background-color: red;
		}
	}
}
