<html>
	<head>
		<meta charset="utf-8" />
		<title>pop-quizz</title>
		<script type="text/javascript" src="/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/handlebars/handlebars.min.js"></script>
		<script type="text/javascript" src="/showdown/showdown.min.js"></script>
		<script type="text/javascript" src="/prismjs/js/prism.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		
		<script type="text/javascript" src="/static/script.js"></script>
		
		<link rel="stylesheet" href="/prismjs/css/prism.css" />
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/fonts/font-awesome.min.css" />
